/* Start Body*/
body {
    background-color: #ffffff;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5em;
    margin: 0;
    padding: 0;
    text-align: center;
}
/*End Body*/

/*Start Debug*/
.bg-blue {
    background-color: #9f2f24 ;
    border-radius:4px;
}
.bg-red{
    background-color: #e75c4f;
    color: antiquewhite;
    border-radius:4px;
}
/*End Debug*/

/*Start Container*/
.container{
    margin: 12px auto;
    /* overflow: auto; */
    width: 100%;
    text-align: center;
}
.container-full{
    text-align: center;
    margin: 10px auto;
    overflow: auto;
    width: 100%;
}
/*End Container*/

/*Start Logo*/
.logo {
    text-align: center;
}
/*End Logo*/

/*Start Anchor/Hyperlink*/
a:link,
a:visited{
    columns: #003366;
    text-decoration:none;
}
a:hover,
a:active{
    columns: #003366;
    text-decoration:underline;
}
/*End Anchor/Hyperlink*/

/*Start Menu Primer*/
.menu-primer ul {
    background-color: #2C2B5E;
    border-radius:4px;
    box-shadow: 
        0 3px 5px -1px rgba(0,0,0,.2),
        0 6px 10px 0 rgba(0,0,0,.14),
        0 1px 18px 0 rgba(0,0,0,.12);
}

.menu-primer li{
    border-right: 1px solid #d1d5da;
    display:inline-block;
}

.menu-primer a{
    color: #ffffff;
    font-size: 13px;
    display:inline-block;
    letter-spacing: 1px;
    padding: 10px 20px;
    text-transform: uppercase;
}

.menu-primer a:hover{
    background-color: #ffffff;
    color: #000000;
    text-decoration: none;
}

.menu-primer .active{
    background-color: #ffffff;
    color:#000000;
    text-decoration: none;
}
/*End Menu Primer*/

/*Start Heading*/
h1, h2, h3, h4, h5, h6{
    font-weight: 400;
    letter-spacing:1px;
}
h1{
    font-size:28px;
}
h2{
    font-size:24px;
}
h3{
    font-size:18px;
}
h4{
    font-size:16px;
}
h5{
    font-size:14px;
}
h6{
    font-size:13px;
}
/*End Heading*/

/*Start Jumbotron*/
.jumbotron {
    background-color: #f6f8fa;
    border: 1px solid #cacccf;
    border-radius:4px;
    padding:20px 0;
}

/*End Jumbotron*/

/*Start Effect*/
@import url(https://fonts.googleapis.com/css?family=Titillium+Web);
.snip1375 {
  font-family: 'Titillium Web', Arial, sans-serif;
  position: relative;
  overflow: hidden;
  margin: 1%;
  min-width: 18%;
  max-width: 18%;
  max-height: 300px;
  width: 0%;
  color: #ffffff;
  text-align: center;
  background-color: #000000;
  display: inline-block;
}
.snip1375 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.snip1375 img {
  opacity: 1;
  width: 100%;
  -webkit-transform: scale(1.1) translateY(3%);
  transform: scale(1.1) translateY(3%);
}
.snip1375:after,
.snip1375:before {
  -webkit-transition: all 0.5s 0s cubic-bezier(0.6, -0.28, 0.735, 0.045);
  transition: all 0.5s 0s cubic-bezier(0.6, -0.28, 0.735, 0.045);
  z-index: 1;
  content: '';
  position: absolute;
  width: 1;
  height: 0;
  border-style: solid;
}
.snip1375:after {
  top: 25%;
  left: 50%;
  -webkit-transform: translate(-60%, 100%);
  transform: translate(-60%, 100%);
  border-width: 150px 200px;
  border-color: transparent #c0392b #c0392b #9f2f24;
}
.snip1375:before {
  bottom: 0%;
  left: 50%;
  -webkit-transform: translate(-55%, 100%);
  transform: translate(-55%, 100%);
  border-width: 0 180px 140px 180px;
  border-color: transparent transparent #81261d transparent;
}
.snip1375 figcaption {
  position: absolute;
  top: 0;
  left: 0;
}
.snip1375 h2 {
  margin: 0;
  opacity: 0;
  padding: 10px 20px;
  font-weight: 400;
  text-transform: uppercase;
  -webkit-transform: translateY(20%);
  transform: translateY(20%);
}
.snip1375 a {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  z-index: 2;
}
.snip1375:hover img,
.snip1375.hover img {
  -webkit-transform: scale(1.1) translateY(-3%);
  transform: scale(1.1) translateY(-3%);
  opacity: 0.4;
}
.snip1375:hover:before,
.snip1375.hover:before,
.snip1375:hover:after,
.snip1375.hover:after {
  -webkit-transition: all 0.4s 0s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: all 0.4s 0s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.snip1375:hover:before,
.snip1375.hover:before {
  -webkit-transform: translate(-55%, 0);
  transform: translate(-55%, 0);
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}
.snip1375:hover:after,
.snip1375.hover:after {
  -webkit-transform: translate(-60%, 0);
  transform: translate(-60%, 0);
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}
.snip1375:hover figcaption h2,
.snip1375.hover figcaption h2 {
  opacity: 1;
  -webkit-transform: translate(0px);
  transform: translate(0px);
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}
/*End Effect*/
